extend layout

block content
    
    div(class="form-cont")
        header(class="form-header")
            h1 Form

        form(method="POST" action="/new")
            div
                label(for="messageUser" class="form-title") Username
                <br>
                input(name="messageUser")
                <br>
                label(for="messageText" class="form-title") Message text
                <br>
                input(name="messageText")
                br
            button(type=submit) Submit

